@media (max-width: 960px) {
  #left {
    display: block;
    margin: 0 auto;
  }
  #post-title {
    text-align: center;
  }
}
@media (min-width: 961px) {
  #left {
    position: absolute;
  }
  #right {
    margin-left: 96px;
  }
  .icon {
    padding-top: 2px;
  }
}
#post img {
  max-width: 100%;
}
#post .figure {
  /*border: 1px solid #000;*/
  max-width: 80%;
  display: block;
  margin-top: 2.0rem;
  margin-bottom: 2.0rem;
  margin-left: auto;
  margin-right: auto;
}
#post .figure .caption {
  /*font-family: 'Inter UI', Helvetica;*/
  font-size: 14px;
  text-align: center;
  margin-top: 0.5rem;
}
#left {
  font-family: 'Source Serif Pro';
  width: 82px;
}
#left img {
  padding: 0;
  margin: 0;
}
#left a {
  display: inline-block;
}
#right hr {
  margin-top: 3em;
  margin-bottom: 1em;
  border: none;
  border-top: 1px solid #ccc;
}
#left hr {
  display: block;
  margin-top: 12px auto;
  height: 0px;
  width: 82px;
  overflow: visible;
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}
#left hr:after {
  content: "~";
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 1em;
  padding: 0 0.25em;
  background: white;
}
#content {
  margin-top: 16px;
  max-width: 52rem;
  display: block;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#nav li {
  text-align: center;
  font-variant: small-caps;
}
.post-title {
  font-size: 20px;
  margin-bottom: 0;
}
.timestamp {
  color: #666;
  margin-right: 0.5em;
}
ul li .timestamp {
  font-variant: small-caps;
  float: left;
  width: 7em;
}
ul li .timestamp:before {
  content: "\00BB"; 
  padding-right: 5px;
}
#post-info {
  color: #666;
  margin-bottom: 8px;
  padding-bottom: 8px;
  font-size: 15px;
  vertical-align: middle;
}
#post-info .tags {
}
.icon {
  display: inline-block;
  padding-left: 2px;
  padding-right: 5px;
  padding-bottom: 5px;
  margin: 0;
  vertical-align: middle;
}
h1 {
  color: #3c3c3c;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 8px;
}
html {
  overflow-y: scroll;
}
body {
  /*font-family: 'Inter UI', Helvetica, Arial;*/
  font-family: 'Source Serif Pro', 'Helvetica', Arial;
  padding: 0;
  margin: 0;
}
ol { margin-top: 0; font-variant-numeric: oldstyle-nums; font-size: 14px; }
ol span { margin-left: 8px; font-size: 16px; }
ul { list-style-type: none; padding-left: 20px; margin-top: 0; }
#post ul { margin-top: 8px; margin-bottom: 8px; margin-left: 10px; list-style-type: ' - '; }
li { line-height: 1.7; }
ul li:before { position: absolute; margin-left: -1em; }
a { text-decoration: none; color: #527f83; }
a:hover { color: #425d60; }
p { margin: 0; width: 100%; line-height: 1.7; font-size: 16px; }
#right p {
  text-align: justify;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
}
p + p { text-indent: 2em; }
pre {
  margin-top: 1em;
  margin-bottom: 1.5em;
}
code {
  border: 1px solid #ccc;
  background: #f5f5f5;
  font-size: 14px;
  padding: 1em 1.25em;
  margin: 1.625em 0 1.75em 0;
  line-height: 1.5;
  margin: 0 auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  word-break: keep-all;
  display: block;
}
.inline-code {
  font-size: 14px;
  font-family: monospace;
  border: 1px solid #ccc;
  background: #f5f5f5;
  margin-left: 0.2em;
  margin-right: 0.2em;
  padding-left: 2px;
  padding-right: 2px;
  /*padding: 1em 1.25em;*/
}
@font-face {
  font-family: 'Inter UI', sans-serif;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/inter-ui/Inter-UI-Regular.woff2') format('woff2'),
       url('/fonts/inter-ui//Inter-UI-Regular.woff') format('woff'),
       url('/fonts/inter-ui/Inter-UI-Regular.ttf') format('truetype');
}
@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url('/fonts/source-serif-pro/WOFF2/TTF/SourceSerifPro-Regular.ttf.woff2') format('woff2'),
       url('/fonts/source-serif-pro/WOFF/OTF/SourceSerifPro-Regular.otf.woff') format('woff'),
       url('/fonts/source-serif-pro/OTF/SourceSerifPro-Regular.otf') format('opentype'),
       url('/fonts/source-serif-pro/TTF/SourceSerifPro-Regular.ttf') format('truetype');
}
@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: url('/fonts/source-serif-pro/WOFF2/TTF/SourceSerifPro-It.ttf.woff2') format('woff2'),
       url('/fonts/source-serif-pro/WOFF/OTF/SourceSerifPro-It.otf.woff') format('woff'),
       url('/fonts/source-serif-pro/OTF/SourceSerifPro-It.otf') format('opentype'),
       url('/fonts/source-serif-pro/TTF/SourceSerifPro-It.ttf') format('truetype');
}
@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: url('/fonts/source-serif-pro/WOFF2/TTF/SourceSerifPro-RegularIt.ttf.woff2') format('woff2'),
       url('/fonts/source-serif-pro/WOFF/OTF/SourceSerifPro-RegularIt.otf.woff') format('woff'),
       url('/fonts/source-serif-pro/OTF/SourceSerifPro-RegularIt.otf') format('opentype'),
       url('/fonts/source-serif-pro/TTF/SourceSerifPro-RegularIt.ttf') format('truetype');
}
@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url('/fonts/source-serif-pro/WOFF2/TTF/SourceSerifPro-Bold.ttf.woff2') format('woff2'),
       url('/fonts/source-serif-pro/WOFF/OTF/SourceSerifPro-Bold.otf.woff') format('woff'),
       url('/fonts/source-serif-pro/OTF/SourceSerifPro-Bold.otf') format('opentype'),
       url('/fonts/source-serif-pro/TTF/SourceSerifPro-Bold.ttf') format('truetype');
}
@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  src: url('/fonts/source-serif-pro/WOFF2/TTF/SourceSerifPro-BoldIt.ttf.woff2') format('woff2'),
       url('/fonts/source-serif-pro/WOFF/OTF/SourceSerifPro-BoldIt.otf.woff') format('woff'),
       url('/fonts/source-serif-pro/OTF/SourceSerifPro-BoldIt.otf') format('opentype'),
       url('/fonts/source-serif-pro/TTF/SourceSerifPro-BoldIt.ttf') format('truetype');
}
